USE [BD_POKEDEX]
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarPokemonPorNombre]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_BuscarPokemonPorNombre]
@TextoBusqueda	Varchar(500)
AS
Begin
    SELECT id, pokemon_name, image AS name_img
	FROM Tb_Pokemon
	WHERE pokemon_name LIKE @TextoBusqueda + '%'

    SELECT P.id, T.español_name
	FROM Tb_Type_Pokemon TP
	INNER JOIN Tb_Pokemon P ON TP.id_pokemon = P.id
	INNER JOIN Tb_Types T ON TP.id_type_name = T.id
	WHERE P.pokemon_name LIKE @TextoBusqueda + '%'
End

GO
/****** Object:  StoredProcedure [dbo].[SP_VerInformaciónPorId]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[SP_VerInformaciónPorId]
@idPokemon	Int
AS
Begin
    SELECT id, pokemon_name, image AS name_img, D.Weight As Peso, D.Height As Altura 
	FROM Tb_Pokemon P
	INNER JOIN Tb_Pokemon_Detalle D ON P.id = D.id_Pokemon
	WHERE id = @idPokemon

    SELECT P.id, T.español_name
	FROM Tb_Type_Pokemon TP
	INNER JOIN Tb_Pokemon P ON TP.id_pokemon = P.id
	INNER JOIN Tb_Types T ON TP.id_type_name = T.id
	WHERE P.id = @idPokemon

    SELECT id_pokemon, HP, Attack, Defense, Sp_Attack, Sp_Defense, Speed
	FROM Tb_Base B
	INNER JOIN Tb_Pokemon P ON B.id_pokemon = P.id
	WHERE P.id = @idPokemon

	SELECT id_pokemon, H.Nombre_Habilidad
	FROM Tb_Habilidades_Pokemon HP
	INNER JOIN Tb_Pokemon P ON HP.Id_pokemon = P.id
	INNER JOIN Tb_Habilidades H ON HP.Id_Habilidad = H.Id_Habilidad
	WHERE P.id = @idPokemon
End


GO
/****** Object:  Table [dbo].[Tb_Base]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Base](
	[id_pokemon] [int] NULL,
	[HP] [numeric](8, 0) NULL,
	[Attack] [numeric](8, 0) NULL,
	[Defense] [numeric](8, 0) NULL,
	[Sp_Attack] [numeric](8, 0) NULL,
	[Sp_Defense] [numeric](8, 0) NULL,
	[Speed] [numeric](8, 0) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tb_Habilidades]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_Habilidades](
	[Id_Habilidad] [int] NOT NULL,
	[Nombre_Habilidad] [varchar](500) NULL,
 CONSTRAINT [PK_Tb_Habilidades] PRIMARY KEY CLUSTERED 
(
	[Id_Habilidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tb_Habilidades_Pokemon]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Habilidades_Pokemon](
	[Id_pokemon] [int] NULL,
	[Id_Habilidad] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tb_Items]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_Items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[english_name] [varchar](500) NULL,
	[español_name] [varchar](500) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tb_Pokemon]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_Pokemon](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pokemon_name] [varchar](800) NULL,
	[image] [varchar](50) NULL,
 CONSTRAINT [PK_Tb_Pokemon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tb_Pokemon_Detalle]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Pokemon_Detalle](
	[id_Pokemon] [int] NULL,
	[Weight] [int] NULL,
	[Height] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tb_Type_Pokemon]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tb_Type_Pokemon](
	[id_pokemon] [int] NULL,
	[id_type_name] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tb_Types]    Script Date: 31/01/2021 12:14:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tb_Types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[english_name] [varchar](500) NULL,
	[español_name] [varchar](500) NULL,
 CONSTRAINT [PK_Tb_Types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Tb_Base] ([id_pokemon], [HP], [Attack], [Defense], [Sp_Attack], [Sp_Defense], [Speed]) VALUES (1, CAST(45 AS Numeric(8, 0)), CAST(49 AS Numeric(8, 0)), CAST(49 AS Numeric(8, 0)), CAST(65 AS Numeric(8, 0)), CAST(65 AS Numeric(8, 0)), CAST(45 AS Numeric(8, 0)))
INSERT [dbo].[Tb_Base] ([id_pokemon], [HP], [Attack], [Defense], [Sp_Attack], [Sp_Defense], [Speed]) VALUES (2, CAST(60 AS Numeric(8, 0)), CAST(62 AS Numeric(8, 0)), CAST(63 AS Numeric(8, 0)), CAST(80 AS Numeric(8, 0)), CAST(80 AS Numeric(8, 0)), CAST(60 AS Numeric(8, 0)))
INSERT [dbo].[Tb_Base] ([id_pokemon], [HP], [Attack], [Defense], [Sp_Attack], [Sp_Defense], [Speed]) VALUES (3, CAST(80 AS Numeric(8, 0)), CAST(82 AS Numeric(8, 0)), CAST(83 AS Numeric(8, 0)), CAST(100 AS Numeric(8, 0)), CAST(100 AS Numeric(8, 0)), CAST(80 AS Numeric(8, 0)))
GO
INSERT [dbo].[Tb_Habilidades] ([Id_Habilidad], [Nombre_Habilidad]) VALUES (1, N'stench')
INSERT [dbo].[Tb_Habilidades] ([Id_Habilidad], [Nombre_Habilidad]) VALUES (2, N'drizzle')
INSERT [dbo].[Tb_Habilidades] ([Id_Habilidad], [Nombre_Habilidad]) VALUES (3, N'speed-boost')
GO
INSERT [dbo].[Tb_Habilidades_Pokemon] ([Id_pokemon], [Id_Habilidad]) VALUES (1, 65)
INSERT [dbo].[Tb_Habilidades_Pokemon] ([Id_pokemon], [Id_Habilidad]) VALUES (1, 34)
INSERT [dbo].[Tb_Habilidades_Pokemon] ([Id_pokemon], [Id_Habilidad]) VALUES (2, 65)
GO
SET IDENTITY_INSERT [dbo].[Tb_Items] ON 

INSERT [dbo].[Tb_Items] ([id], [english_name], [español_name]) VALUES (1, N'None', N'Ninguna')
INSERT [dbo].[Tb_Items] ([id], [english_name], [español_name]) VALUES (2, N'Master Ball', N'Bola maestra')
INSERT [dbo].[Tb_Items] ([id], [english_name], [español_name]) VALUES (3, N'Ultra Ball', N'Ultra Ball')
GO
SET IDENTITY_INSERT [dbo].[Tb_Items] OFF
SET IDENTITY_INSERT [dbo].[Tb_Pokemon] ON 

INSERT [dbo].[Tb_Pokemon] ([id], [pokemon_name], [image]) VALUES (1, N'Bulbasaur', N'001.png')
INSERT [dbo].[Tb_Pokemon] ([id], [pokemon_name], [image]) VALUES (2, N'Ivysaur', N'002.png')
INSERT [dbo].[Tb_Pokemon] ([id], [pokemon_name], [image]) VALUES (3, N'Venusaur', N'003.png')
GO
SET IDENTITY_INSERT [dbo].[Tb_Pokemon] OFF
INSERT [dbo].[Tb_Pokemon_Detalle] ([id_Pokemon], [Weight], [Height]) VALUES (1, 69, 7)
INSERT [dbo].[Tb_Pokemon_Detalle] ([id_Pokemon], [Weight], [Height]) VALUES (2, 130, 10)
INSERT [dbo].[Tb_Pokemon_Detalle] ([id_Pokemon], [Weight], [Height]) VALUES (3, 1000, 20)
GO
INSERT [dbo].[Tb_Type_Pokemon] ([id_pokemon], [id_type_name]) VALUES (1, 12)
INSERT [dbo].[Tb_Type_Pokemon] ([id_pokemon], [id_type_name]) VALUES (2, 12)
INSERT [dbo].[Tb_Type_Pokemon] ([id_pokemon], [id_type_name]) VALUES (3, 12)
GO
SET IDENTITY_INSERT [dbo].[Tb_Types] ON 

INSERT [dbo].[Tb_Types] ([id], [english_name], [español_name]) VALUES (1, N'Normal', N'Normal')
INSERT [dbo].[Tb_Types] ([id], [english_name], [español_name]) VALUES (2, N'Fighting
', N'Lucha')
INSERT [dbo].[Tb_Types] ([id], [english_name], [español_name]) VALUES (3, N'Flying', N'Volador')
SET IDENTITY_INSERT [dbo].[Tb_Types] OFF
ALTER TABLE [dbo].[Tb_Base]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Base_Tb_Pokemon] FOREIGN KEY([id_pokemon])
REFERENCES [dbo].[Tb_Pokemon] ([id])
GO
ALTER TABLE [dbo].[Tb_Base] CHECK CONSTRAINT [FK_Tb_Base_Tb_Pokemon]
GO
ALTER TABLE [dbo].[Tb_Habilidades_Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Habilidades_Pokemon_Tb_Habilidades] FOREIGN KEY([Id_Habilidad])
REFERENCES [dbo].[Tb_Habilidades] ([Id_Habilidad])
GO
ALTER TABLE [dbo].[Tb_Habilidades_Pokemon] CHECK CONSTRAINT [FK_Tb_Habilidades_Pokemon_Tb_Habilidades]
GO
ALTER TABLE [dbo].[Tb_Habilidades_Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Habilidades_Pokemon_Tb_Pokemon] FOREIGN KEY([Id_pokemon])
REFERENCES [dbo].[Tb_Pokemon] ([id])
GO
ALTER TABLE [dbo].[Tb_Habilidades_Pokemon] CHECK CONSTRAINT [FK_Tb_Habilidades_Pokemon_Tb_Pokemon]
GO
ALTER TABLE [dbo].[Tb_Pokemon_Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Pokemon_Detalle_Tb_Pokemon] FOREIGN KEY([id_Pokemon])
REFERENCES [dbo].[Tb_Pokemon] ([id])
GO
ALTER TABLE [dbo].[Tb_Pokemon_Detalle] CHECK CONSTRAINT [FK_Tb_Pokemon_Detalle_Tb_Pokemon]
GO
ALTER TABLE [dbo].[Tb_Type_Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Type_Pokemon_Tb_Pokemon] FOREIGN KEY([id_pokemon])
REFERENCES [dbo].[Tb_Pokemon] ([id])
GO
ALTER TABLE [dbo].[Tb_Type_Pokemon] CHECK CONSTRAINT [FK_Tb_Type_Pokemon_Tb_Pokemon]
GO
ALTER TABLE [dbo].[Tb_Type_Pokemon]  WITH CHECK ADD  CONSTRAINT [FK_Tb_Type_Pokemon_Tb_Types] FOREIGN KEY([id_type_name])
REFERENCES [dbo].[Tb_Types] ([id])
GO
ALTER TABLE [dbo].[Tb_Type_Pokemon] CHECK CONSTRAINT [FK_Tb_Type_Pokemon_Tb_Types]
GO
